{
  "extends": ["./node_modules/nmde-common/config/eslint"],
  "plugins": ["eslint-plugin-tsdoc"],
  "rules": {
    "tsdoc/syntax": "warn",
    "jsdoc/require-file-overview": "off",
    "jsdoc/require-param-type": "off",
    "jsdoc/require-returns-type": "off"
  }
}
